<div class="modal fade" id="editRecipientsModal" tabindex="-1" aria-labelledby="editRecipientsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRecipientsModalLabel">Zmiana odbiorców kapsuły</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editRecipientsForm" action="/AdminPanel/Capsules/UpdateRecipients">
                <div class="modal-body">
                    <input type="hidden" id="recipientsCapsuleId" name="CapsuleId" />
                    <div class="mb-3">
                        <label class="form-label">Tytuł kapsuły</label>
                        <input type="text" class="form-control" id="recipientsCapsuleTitle" readonly disabled />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Lista odbiorców <span class="text-danger">*</span></label>
                        <div id="recipientsContainer">


                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary mt-2" id="addRecipientFieldBtn">
                            <i class="bi bi-plus-lg"></i> Dodaj kolejnego odbiorcę
                        </button>
                        <div class="invalid-feedback" id="recipientsValidationMessage"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-save" onclick="handleFormSubmit('editRecipientsForm')">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>
