body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fb;
    color: #333;
    padding: 20px;
}

.hero {
    position: relative;
    background-size: contain;
    padding-bottom: 32%;
}

    .hero h1 {
        color: white;
        top: 80px !important;
        right: 45%;
        left: -20% !important;
        transform: translateY(-50%);
        font-size: clamp(1rem, 2vw, 2.5rem) !important;
        font-weight: 300;
        text-align: center;
        margin: 0;
        z-index: 1;
        position: relative;
    }

.mt-adjusted {
    margin-top: -4rem !important;
    z-index: 2;
    position: relative;
}

.breadcrumb-wrapper {
    margin-top: 1rem;
}

.add-user-button {
    margin-right: -0.6rem;
}

.breadcrumb a {
    color: #486292;
    margin-left: -0.6rem;
}

    .breadcrumb a:hover {
        color: #162440;
    }

/* TABELA */


.accordion-header:has(.accordion-button.collapsed) {
    background-color: white;
}

.accordion-header:has(.accordion-button:not(.collapsed)) {
    background-color: #6B7887;
}
.accordion-button {
    color: #4C5C71;
    font-weight: 300;
    width: 100%;
}
    .accordion-button:focus {
        outline: none;
        box-shadow: none;
    }

    .accordion-button::after {
        filter: brightness(0) invert(1);
    }

    .accordion-button.collapsed::after {
        filter: brightness(0) saturate(100%) sepia(30%) hue-rotate(170deg) brightness(0.6);
    }

    .accordion-button:not(.collapsed) {
        background-color: #6B7887;
        color: white;
    }



.table th {
    background-color: #D9D9D9;
    color: #34495e;
    font-weight: 400;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
    color: #4C5C71;
}

.add-question-btn {
    border: 2px solid #4C5C71;
    color: #4C5C71;
    font-weight: 400;
    transition: 0.3s ease;
}

    .add-question-btn:hover {
        background-color: #4C5C71;
        color: #fff;
        border: 2px solid #4C5C71;
    }

.btn-outline-secondary i {
    color: #4C5C71;
}


.dropdown-toggle::after {
    display: none !important;
}

.bi-list {
    color: #9c9b9b;
}
button.btn.dropdown-toggle:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(76, 92, 113, 0.4);
    border-color: #4C5C71;
}


.edit-question.btn-outline-secondary:hover {
    background-color: #4C5C71;
    border-color: #4C5C71;
    color: white;
}

    .edit-question.btn-outline-secondary:hover i.bi-pencil {
        color: white !important;
    }


.btn-outline-danger {
    background-color: white !important;
    border-color: #a4182d !important;
    color: white !important;
}

    .btn-outline-danger i.bi-trash {
        color: #a4182d !important;
    }

.btn-outline-danger:hover {
    background-color: #8B1F2F !important;
    border-color: #8B1F2F !important;
    color: white !important;
}

    .btn-outline-danger:hover i.bi-trash {
        color: white !important;
    }

#capsuleTypesAccordion {
    border-radius: 12px;
    overflow: hidden;
}

.accordion-item:has(.accordion-collapse.show) {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    margin-bottom: 0.8rem;
}

.accordion-item:has(.accordion-collapse:not(.show)) {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 0.8rem;
}

