body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fb;
    color: #333;
    padding: 20px;
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-block: clamp(3rem, 10vw, 8rem);
    padding-inline: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .hero h1 {
        margin: 0;
        width: clamp(80%, 60vw, 600px);
        font-size: clamp(1.25rem, 5vw, 4rem);
        line-height: 1.2;
        font-weight: 300;
        color: white;
        word-wrap: break-word;
    }


.mt-adjusted {
    margin-top: -3rem !important;
    z-index: 2;
    position: relative;
}

.breadcrumb-wrapper {
    margin-top: 3rem;
}

.add-user-button {
    margin-right: -0.6rem;
    margin-top: 3rem;
}

.breadcrumb a {
    color: #486292;
    margin-left: -0.6rem;
}

    .breadcrumb a:hover {
        color: #162440;
    }

/* TABELA */


.accordion-header:has(.accordion-button.collapsed) {
    background-color: white;
}

.accordion-header:has(.accordion-button:not(.collapsed)) {
    background-color: #6B7887;
}
.accordion-button {
    color: #4C5C71;
    font-weight: 300;
    width: 100%;
}
    .accordion-button:focus {
        outline: none;
        box-shadow: none;
    }

    .accordion-button::after {
        filter: brightness(0) invert(1);
    }

    .accordion-button.collapsed::after {
        filter: brightness(0) saturate(100%) sepia(30%) hue-rotate(170deg) brightness(0.6);
    }

    .accordion-button:not(.collapsed) {
        background-color: #6B7887;
        color: white;
    }



.table th {
    background-color: #D9D9D9;
    color: #34495e;
    font-weight: 400;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
    color: #4C5C71;
}

.add-question-btn {
    border: 2px solid #4C5C71;
    color: #4C5C71;
    font-weight: 400;
    transition: 0.3s ease;
}

    .add-question-btn:hover {
        background-color: #4C5C71;
        color: #fff;
        border: 2px solid #4C5C71;
    }

.btn-outline-secondary i {
    color: #4C5C71;
}


.dropdown-toggle::after {
    display: none !important;
}

.bi-list {
    color: #9c9b9b;
}
button.btn.dropdown-toggle:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(76, 92, 113, 0.4);
    border-color: #4C5C71;
}


.edit-question.btn-outline-secondary:hover {
    background-color: #4C5C71;
    border-color: #4C5C71;
    color: white;
}

    .edit-question.btn-outline-secondary:hover i.bi-pencil {
        color: white !important;
    }


.btn-outline-danger {
    background-color: white !important;
    border-color: #a4182d !important;
    color: white !important;
}

    .btn-outline-danger i.bi-trash {
        color: #a4182d !important;
    }

.btn-outline-danger:hover {
    background-color: #8B1F2F !important;
    border-color: #8B1F2F !important;
    color: white !important;
}

    .btn-outline-danger:hover i.bi-trash {
        color: white !important;
    }

#capsuleTypesAccordion {
    border-radius: 12px;
    overflow: hidden;
}



.accordion-item:has(.accordion-collapse.show) {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    margin-bottom: 0.8rem;
}

.accordion-item:has(.accordion-collapse:not(.show)) {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 0.8rem;
}

/* ========RWD========*/
/*  Duże ekrany (min-width: 1024px)*/
@media (min-width: 1024px) {
    .hero {
        padding-block: clamp(5rem, 8vw, 12rem);
    }

        .hero h1 {
            font-size: clamp(2rem, 4vw, 35px);
            margin-top: -5rem !important;
            margin-left: -30rem !important;
        }
}

/* Powiększenie ~150% (1.5dppx – 1.99dppx)*/
@media (min-resolution: 1.5dppx) and (max-resolution: 1.99dppx) {
    .hero h1 {
        margin-top: -7rem !important;
        line-height: 1.2;
        font-weight: 500;
        color: #4C5C71;
        margin-left: 0 !important;
    }
}
/*  Powiększenie ~200% i więcej (≥2dppx)*/
@media (min-resolution: 2dppx) {
    .hero h1 {
        margin-top: -5rem !important;
        line-height: 1.2;
        font-weight: 500;
        color: #4C5C71;
        margin-left: 0 !important;
    }
}

/* poniżej 50% powiększenia (max-resolution: 0.49dppx)*/
@media (max-resolution: 0.49dppx) {
    .hero h1 {
        margin-left: 0 !important;
        margin-top: -2rem !important;
        margin-bottom: -20rem;
        font-size: clamp(1.75rem, 6vw, 2rem);
        line-height: 1.2;
        font-weight: 500;
        color: #4C5C71;
    }
}

@media (max-width: 1320px) {
    .hero h1 {
        margin-left: 0 !important;
        margin-top: -17rem !important;
        margin-bottom: -20rem;
        font-size: clamp(1.75rem, 6vw, 1rem);
        line-height: 1.2;
        font-weight: 500;
        color: #4C5C71;
    }
}


@media (max-width: 1320px) {
    .mt-adjusted {
        margin-top: 6rem !important;
    }
}

@media (max-resolution: 0.49dppx) {
    .mt-adjusted {
        margin-top: 6rem !important;
    }
}

