body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fb;
    color: #333;
    padding: 20px;
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-block: clamp(3rem, 10vw, 8rem);
    padding-inline: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .hero h1 {
        margin: 0;
        width: clamp(80%, 60vw, 600px);
        font-size: clamp(1.25rem, 5vw, 4rem);
        line-height: 1.2;
        font-weight: 300;
        color: white;
        word-wrap: break-word;
    }

.mt-adjusted {
    margin-top: -3rem !important;
    z-index: 2;
    position: relative;
}

.breadcrumb-wrapper {
    margin-top: 1rem;
}

.add-user-button {
    margin-right: -0.6rem;
}

.breadcrumb a {
    color: #486292;
    margin-left: -0.6rem;
}

    .breadcrumb a:hover {
        color: #162440;
    }

/* TABELA UŻYTKOWNIKÓW*/

.badge-admin {
    background-color: #4a668b;
    color: #fff;
    font-weight: 400;
}

.badge-user {
    background-color: #7d8790;
    color: #fff;
    font-weight: 400;
}

.badge-active {
    background-color: #6ba063;
    color: #fff;
    font-weight: 400;
}

.badge-locked {
    background-color: #a06e63;
    color: #fff;
    font-weight: 400;
}
.dropdown-toggle::after {
    display: none !important;
}

li.paginate_button.page-item.active a {
    background-color: #4C5C71;
    color: white;
    border-color: #4C5C71;
}

.col-sm-12.col-md-7 {
    margin-top: 10px;
}

.dataTables_scrollBody {
    overflow: visible !important;
    position: relative;
    z-index: auto;
}
.dropdown-menu {
    z-index: 2000;
}

select.form-select-sm {
    border-color: #4C5C71;
}

    select.form-select-sm:hover {
        border-color: #4C5C71;
    }

    select.form-select-sm:focus {
        outline: none;
        border-color: #4C5C71;
        box-shadow: 0 0 0 0.2rem rgba(76, 92, 113, 0.4);
    }

button.btn.dropdown-toggle:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(76, 92, 113, 0.4);
    border-color: #4C5C71;
}

input.form-control.form-control-sm:hover {
    border-color: #4C5C71;
}

input.form-control.form-control-sm:focus {
    outline: none;
    border-color: #4C5C71;
    box-shadow: 0 0 0 0.2rem rgba(76, 92, 113, 0.4);
}

#tableUser_wrapper table tr,
#tableUser_wrapper .dataTables_info,
#tableUser_wrapper .dataTables_paginate,
#tableUser_wrapper .dataTables_length,
#tableUser_wrapper .dataTables_filter {
    color: #4C5C71;
}

.bi-list {
    color: #4C5C71;
}

.dataTables_scrollHeadInner th {
    font-weight: 500;
}

#tableUser {
    width: 100% !important;
    table-layout: fixed !important;
}

    #tableUser th,
    #tableUser td {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

.dataTables_scrollBody {
    overflow-x: auto !important;
}


/* ========RWD========*/
/*  Duże ekrany (min-width: 1024px)*/
@media (min-width: 1024px) {
    .hero {
        padding-block: clamp(5rem, 8vw, 12rem);
    }

        .hero h1 {
            font-size: clamp(2rem, 4vw, 35px);
            margin-top: -5rem !important;
            margin-left: -30rem !important;
        }
}

/* Powiększenie ~150% (1.5dppx – 1.99dppx)*/
@media (min-resolution: 1.5dppx) and (max-resolution: 1.99dppx) {
    .hero h1 {
        margin-top: -7rem !important;
        line-height: 1.2;
        font-weight: 500;
        color: #4C5C71;
        margin-left: 0 !important;
    }
}
/*  Powiększenie ~200% i więcej (≥2dppx)*/
@media (min-resolution: 2dppx) {
    .hero h1 {
        margin-top: -5rem !important;
        line-height: 1.2;
        font-weight: 500;
        color: #4C5C71;
        margin-left: 0 !important;
    }
}

/* poniżej 50% powiększenia (max-resolution: 0.49dppx)*/
@media (max-resolution: 0.49dppx) {
    .hero h1 {
        margin-left: 0 !important;
        margin-top: -2rem !important;
        margin-bottom: -20rem;
        font-size: clamp(1.75rem, 6vw, 2rem);
        line-height: 1.2;
        font-weight: 500;
        color: #4C5C71;
    }
}

@media (max-width: 1320px) {
    .hero h1 {
        margin-left: 0 !important;
        margin-top: -17rem !important;
        margin-bottom: -20rem;
        font-size: clamp(1.75rem, 6vw, 1rem);
        line-height: 1.2;
        font-weight: 500;
        color: #4C5C71;
    }
}


@media (max-width: 1320px) {
    .mt-adjusted {
        margin-top: 6rem !important;

    }
}

@media (max-resolution: 0.49dppx) {
    .mt-adjusted {
        margin-top: 6rem !important;
    }
}

