body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fb;
    color: #333;
    padding: 20px;
}

.hero {
    position: relative;
    background-size: contain;
    padding-bottom: 32%;
}

    .hero h1 {
        color: white;
        right: 45%;
        left: -20% !important;
        transform: translateY(-50%);
        font-size: clamp(1rem, 2vw, 2.5rem) !important;
        font-weight: 300;
        text-align: center;
        margin: 0;
        z-index: 1;
        position: relative;
    }

.mt-adjusted {
    margin-top: -4rem !important;
    z-index: 2;
    position: relative;
}

.breadcrumb-wrapper {
    margin-top: 1rem;
}

.add-user-button {
    margin-right: -0.6rem;
}

.breadcrumb a {
    color: #486292;
    margin-left: -0.6rem;
}

    .breadcrumb a:hover {
        color: #162440;
    }

/* TABELA UŻYTKOWNIKÓW*/

.badge-admin {
    background-color: #4a668b;
    color: #fff;
}

.badge-user {
    background-color: #7d8790;
    color: #fff;
}

.badge-active {
    background-color: #6ba063;
    color: #fff;
}

.badge-locked {
    background-color: #a06e63;
    color: #fff;
}
.dropdown-toggle::after {
    display: none !important;
}

li.paginate_button.page-item.active a {
    background-color: #4C5C71;
    color: white;
    border-color: #4C5C71;
}

.col-sm-12.col-md-7 {
    margin-top: 10px;
}

.dataTables_scrollBody {
    overflow: visible !important;
    position: relative;
    z-index: auto;
}
.dropdown-menu {
    z-index: 2000;
}

select.form-select-sm {
    border-color: #4C5C71;
}

    select.form-select-sm:hover {
        border-color: #4C5C71;
    }

    select.form-select-sm:focus {
        outline: none;
        border-color: #4C5C71;
        box-shadow: 0 0 0 0.2rem rgba(76, 92, 113, 0.4);
    }

button.btn.dropdown-toggle:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(76, 92, 113, 0.4);
    border-color: #4C5C71;
}

input.form-control.form-control-sm:hover {
    border-color: #4C5C71;
}

input.form-control.form-control-sm:focus {
    outline: none;
    border-color: #4C5C71;
    box-shadow: 0 0 0 0.2rem rgba(76, 92, 113, 0.4);
}
