@section Styles {
    <link rel="stylesheet" href="~/css/AdminPanel/UsersManagementView.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}


    <section class="hero">
        <h1><b>Zarządzanie użytkownikami</b><br />Przeglądaj, edytuj, dodawaj i usuwaj użytkowników systemu</h1>
    </section>


<div class="container mb-4 mt-adjusted">
    <!-- Breadcrumb -->
    <div class="row align-items-center justify-content-between">
        <div class="col-md-8">
            <nav aria-label="breadcrumb" class="breadcrumb-wrapper">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a asp-controller="AdminPanel" asp-action="Index">Panel Administracyjny</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Zarządzanie użytkownikami</li>
                </ol>
            </nav>
        </div>
        <!-- przycisk Dodaj uzytkownika -->
        <div class="col-md-4 text-end">
            <button type="button" class="btn btn-secondary add-user-button" data-bs-toggle="modal" data-bs-target="#addUserModal">
                <i class="bi bi-person-plus-fill me-2"></i>Dodaj użytkownika
            </button>
        </div>
    </div>
</div>

    <!-- Tabela użytkowników z DataTables -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <table id="tableUser" class="table table-striped table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Nazwa użytkownika</th>
                        <th>Rola</th>
                        <th>Status</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <partial name="~/Views/AdminPanel/Users/_UpdateUserModalForm.cshtml"></partial>
    <partial name="~/Views/AdminPanel/Users/_CreateUserModalForm.cshtml"></partial>

@section Scripts {
    <script src="~/js/userDataTable.js"></script>
}

    


