@section Styles {
<link rel="stylesheet" href="~/css/Modal.css" asp-append-version="true" />
}
<div class="modal fade" id="addQuestionModal" tabindex="-1" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addQuestionModalLabel">Dodaj nowe pytanie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addQuestionForm" method="post" action="/AdminPanel/Forms/AddQuestion">
                <div class="modal-body">
                    <input type="hidden" id="sectionId" name="SectionId" value="">
                    <div class="mb-3">
                        <label for="questionText" class="form-label">Treść pytania</label>
                        <textarea class="form-control" id="questionText" name="QuestionText" rows="3" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-save">Dodaj pytanie</button>
                </div>
            </form>
        </div>
    </div>
</div>