<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - CertIQ</title>
    <link rel="stylesheet" href="~/css/authLayout.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="auth-page">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <div class="card login-logout-card">
                <div class="card-header">
                    <div class="tab-container">
                        <a href="/Identity/Account/Login" class="tab @(ViewData["Title"]?.ToString() == "Login" ? "active" : "")">Login</a>
                        <a href="/Identity/Account/Register" class="tab @(ViewData["Title"]?.ToString() == "Register" ? "active" : "")">Register</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-10 my-4">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>