body.auth-page {
    background: url('/images/background.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logout-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    color: #333;
}

.card-body {
    padding: 2rem;
}

.tab-container {
    display: flex;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    font-size: 1em;

}
    .tab:not(.active) {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .tab:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

.button-group {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

