/*strona główna - user niezalogowany*/
.hero {
    position: relative;
    min-height: 200px;
    color: #fff; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 0px; 
    padding-right: 300px; 
}

.description {
    color: #4C5C71;
}
/*sekcja - krok po kroku*/

h2 {
    color: #4C5C71;
    margin-top: 22px;
    text-align: center;
    padding-bottom: 50px;
}

.steps {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.step {
    width: 250px;
    text-align: center;
    margin: 0 10px;
}

    .step img {
        display: block;
        margin: 0 auto 20px;
        width: 250px;
    }

    .step h3 {
        color: #4C5C71;
        font-size: 1rem;
        margin: 0;
    }

section.process {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

section.cta {
    text-align: center;
}


/*przycisk - redirect do logowania*/

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #4f647a;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
    margin-top: 40px;
}

    .cta-button:hover {
        background-color: #3e5061;
        color: white;
    }
