/*globalny css dla wszystkich stron ~AW*/
@font-face {
    font-family: 'Leckerli One';
    src: url('../fonts/LeckerliOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
    font-size: 14px;
}

.logo-font {
    font-family: 'Leckerli One', cursive;
}


@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #384352;

}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: url('../images/top-background.svg') no-repeat center 30px;
    background-size: 100%;
    background-color: #E4E4E4;
    background-position-y: 40px;
    font-family: "Jost", sans-serif;
    padding-top: 100px;
    display: flex;
    flex-direction: column;

}



footer {
    background: url('../images/footer-background.png') no-repeat center 0px/cover;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 30px;
    color: #fff;
    margin-top: auto;
}

.footer-content {
    max-width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    font-size: 18px;
}

.footer-content-underline {
    color: #fff;
    text-decoration: underline;
}

.mail-icon {
    width: 40px;
    margin: 0;
}

/*styles for top bar*/
.header-custom {
    background-color: #98a4b4 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.brand-custom {
    font-family: 'Leckerli One', cursive;
    color: #FFFFFF !important;
    font-size: 24px;
}

.nav-link-custom {
    color: #FFFFFF !important;
}


/* styles for CreateStep2.cshtml */
.color-btn {
    transition: all 0.2s;
}

.selected-color {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-width: 3px !important;
}

.icon-btn {
    transition: all 0.2s;
}

.btn-check:checked + .icon-btn {
    border-color: #6c757d !important;
    background-color: rgba(108, 117, 125, 0.1);
    transform: scale(1.05);
}

/* styles for images in CreateStep6.cshtml  CreateStep8.cshtml*/
.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.image-card {
    height: 250px;
    margin-bottom: 15px;
}

.delete-image-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-brand.brand-custom {
    font-size: 2.25rem !important;
}