/*strona główna - user niezalogowany ~AW*/

/*opis kroków tworzenia kapsuły razem z tytułem sekcji: ~AW*/

.hero {
    position: relative;
    background-size: contain;
    padding-bottom: 32%;
}

    .hero h1 {
        margin-top: 1rem !important;
        color: white;
        top: 80px !important;
        right: 45%;
        left: -20% !important;
        transform: translateY(-50%);
        font-size: clamp(1rem, 2vw, 2.5rem) !important;
        font-weight: 300;
        text-align: center;
        margin: 0;
        z-index: 1;
        position: relative;
    }


.description p {
    margin-top: -5rem !important;
    color: #4C5C71;
    font-size: 22px;
    text-align: justify;
    position: relative;
    z-index: 2;
}
.description b {
    display: inline !important;
    text-align: inherit !important;
}

section.process {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    section.process h2 {
        color: #4C5C71;
        width: 100%;
        text-align: center;
        margin: 40px 0 40px 0;
        font-weight: 300;
    }

    section.process .steps {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }

.step {
    width: 250px;
    text-align: center;
    margin: 0 10px;
}

    .step img {
        display: block;
        margin: 0 auto 20px;
        width: 200px;
    }

    .step h3 {
        color: #4C5C71;
        font-size: 1.3rem;
        font-weight: 400;
        margin: 0;
    }

/*przycisk - redirect do logowania: ~AW*/

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #4f647a;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
    margin-top: 60px;
}

    .cta-button:hover {
        background-color: #3e5061;
        color: white;
    }
