
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section Styles {
    <link rel="stylesheet" href="~/css/MainPage/Profile.css"/>

}

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<section class="hero">
    <h1><b>@Localizer["ProfileDetails"]</b></h1>
</section>


<section class="description">
    <p>@Localizer["Settings"]</p>
</section>


<div class="settings">
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
