@{
    ViewData["Title"] = "FAQ";
}
@section Styles {
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MainPage/FAQ.css" asp-append-version="true" />
}

<section class="hero">
    <h1><b>CZĘSTO ZADAWANE PYTANIA</b></h1>
</section>

<div class="faq-container">
    <h1>FAQ<br></h1><h2>masz pytania? my znamy odpowiedzi!</h2>
    <div class="faq-grid">
        <div class="faq-item">
            <div class="faq-question">Czym jest kapsuła czasu?</div>
            <div class="faq-answer">Kapsuła czasu to wiadomość, którą możesz wysłać do siebie lub bliskiej osoby w przyszłości. Możesz określić dokładną datę, kiedy wiadomość zostanie odblokowana do odczytu.</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">Czy mogę wysłać kapsułę czasu do innej osoby?</div>
            <div class="faq-answer">Tak! Możesz wysłać wiadomość do siebie lub kogoś innego – wystarczy podać nazwę lub e-mail odbiorcy - jeżeli nie posiada jeszcze konta w naszym serwisie.</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">Czy moja wiadomość jest bezpieczna?</div>
            <div class="faq-answer">Tak, stosujemy odpowiednie zabezpieczenia, aby Twoje wiadomości były prywatne i bezpieczne.</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">Czy mogę dodać multimedia do kapsuły czasu?</div>
            <div class="faq-answer">Tak! Możesz dołączyć zdjęcia, pliki audio, wideo oraz linki, aby Twoja wiadomość była jeszcze bardziej wyjątkowa.</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">Czy mogę zaplanować wiele kapsuł czasu naraz?</div>
            <div class="faq-answer">Oczywiście! Możesz stworzyć dowolną liczbę wiadomości na różne daty i do różnych odbiorców.</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">Czy kapsuła czasu może być otwierana wcześniej?</div>
            <div class="faq-answer">Nie, kapsuła zostanie dostarczona tylko w wyznaczonym dniu, aby zachować element niespodzianki i wyjątkowość wiadomości.</div>
        </div>
    </div>
