@{
    ViewData["Title"] = "FAQ";
}
@section Styles {
    <link rel="stylesheet" href="~/css/MainPage/FAQ.css" asp-append-version="true" />
}

<section class="hero">
    <h1>Często zadawane pytania</h1>
</section>

<div class="container">

</div>

