@{
    ViewData["Title"] = "Strona Główna";
}
@section Styles {
    <link rel="stylesheet" href="~/css/MainPage/MainPageNotLogged.css" />
}

<section class="hero">
    <h1>Zatrzymaj Chwilę, Stwórz Kapsułę Czasu – Twoja Wiadomość dla Przyszłości!</h1>
</section>

<section class="description">
    <p>
        Czy marzyłeś kiedyś, by wysłać wiadomość w przyszłość? Dzięki naszej platformie możesz
        <b>stworzyć spersonalizowany list, który stanie się wyjątkową kapsułą czasu.</b>
        Napisz co chcesz – wspomnienia, marzenia, podziękowania lub życzenia – i wybierz datę,
        w której list ma zostać odczytany. Może to być za rok, 5 lat, a nawet dekadę!
        <br/>
        To idealny sposób na zatrzymanie emocji, podarowanie wyjątkowego prezentu lub po prostu
        rozmowę z przyszłym sobą.<b>
            Twoje słowa zostaną bezpiecznie zapisane i dostarczone
            w wybranym przez Ciebie momencie.
        </b>
    </p>
</section>

<section class="process">
    <h2><b>Jak to działa?</b></h2>

    <div class="steps">
        <div class="step">
            <img src="~/images/step-prototype.svg" alt="Krok 1: Zarejestruj się lub zaloguj" />
            <h3>1. Zarejestruj się lub zaloguj</h3>
        </div>
        <div class="step">
            <img src="~/images/step-prototype.svg" alt="Krok 2: Stwórz kapsułę czasu" />
            <h3>2. Stwórz kapsułę czasu</h3>
        </div>
        <div class="step">
            <img src="~/images/step-prototype.svg" alt="Krok 3: Wybierz datę otwarcia" />
            <h3>3. Wybierz datę otwarcia</h3>
        </div>
        <div class="step">
            <img src="~/images/step-prototype.svg" alt="Krok 4: Odczytaj wiadomość" />
            <h3>4. Odczytaj wiadomość, gdy czas minie!</h3>
        </div>
    </div>
</section>

<section class="cta text-center">
    <a asp-controller="TimeCapsule" asp-action="Step1" class="btn cta-button">
        Stwórz swoją kapsułę czasu już teraz!
    </a>
</section>