﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Strona Główna";
}
@section Styles {
    <link rel="stylesheet" href="~/css/MainPage/MainPageNotLogged.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}

<section class="hero">
    <h1>@Localizer["MainHeading"]</h1>
</section>

<section class="description">
    <p>
        @Localizer["Description"]
    </p>
</section>

<section class="process">
    <h2><b>Jak to działa?</b></h2>

    <div class="steps">
        <div class="step">
            <img src="~/images/step1.svg" alt="Krok 1: Zarejestruj się lub zaloguj" />
            <h3>1. Zarejestruj się lub zaloguj</h3>
        </div>
        <div class="step">
            <img src="~/images/step2.svg" alt="Krok 2: Stwórz kapsułę czasu" />
            <h3>2. Stwórz kapsułę czasu</h3>
        </div>
        <div class="step">
            <img src="~/images/step3.svg" alt="Krok 3: Wybierz datę otwarcia" />
            <h3>3. Wybierz datę otwarcia</h3>
        </div>
        <div class="step">
            <img src="~/images/step4.svg" alt="Krok 4: Odczytaj wiadomość" />
            <h3>4. Odczytaj wiadomość, gdy czas minie!</h3>
        </div>
    </div>
</section>

@if (SignInManager.IsSignedIn(User)){
    <section class="cta text-center">
        <a asp-controller="TimeCapsule" asp-action="Step1" class="btn cta-button">
            Stwórz swoją kapsułę czasu już teraz!
        </a>
    </section>
}
else
{
    <section class="cta text-center">
        <a asp-area="Identity" asp-page="/Account/Login"  class="btn cta-button">
            Zaloguj się, aby stworzyć własną kapsułę czasu!
        </a>
    </section>
}