<!--strona główna - user niezalogowany-->
@{
    ViewData["Title"] = "Strona Główna";
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kapsuła Czasu</title>
    <link rel="stylesheet" href="~/css/MainPageLogged.css">
</head>
<body class="no-capsules">
    <section class="hero">
        <h1>Witaj! Twoje wspomnienia czekają na Ciebie!</h1>
    </section>


    <!-- Sekcja dla klientów BEZ kapsuł -->
    <section class="cta no-capsules-section">
        <div class="no-capsule-box">
            <h2>Obecnie nie posiadasz żadnej kapsuły</h2>
            <a href="step1.html" class="cta-button">Stwórz swoją kapsułę czasu już teraz!</a>
        </div>
    </section>


    <!-- Sekcja dla klientów Z kapsułami -->
    <section class="capsules has-capsules-section">

    </section>
    </main>
    <script src="js/main.js"></script>
</body>
</html>