@{
    ViewData["Title"] = "Moje Kapsuły";
}
@section Styles {
    <link rel="stylesheet" href="~/css/MyCapsules.css" />
}

<section class="hero">
    <h1><b>MOJE KAPSUŁY</b></h1>
</section>

<div class="container">
<section class="cta no-capsules-section">
    <div class="no-capsule-box">
        <h2>Obecnie nie posiadasz żadnej kapsuły</h2>
        <a asp-controller="TimeCapsule" asp-action="Step1" class="cta-button">
            Stwórz swoją kapsułę czasu już teraz!
        </a>
    </div>
</section>
</div>
<section class="capsules has-capsules-section">

</section>
