@{
    ViewData["Title"] = "Polityka Prywatności";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Privacy.css" asp-append-version="true" />
}

<section class="hero">
    <h1>Polityka Prywatności</h1>
</section>

<div class="container">

</div>
