<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Skontaktuj się z nami</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="contactForm" method="post" action="/AdminPanel/SubmitMessage">
                    <div class="mb-3">
                        <label for="contactName" class="form-label">Imię i Nazwisko <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="contactName" name="Name" placeholder="Imię i Nazwisko" required>
                    </div>
                    <div class="mb-3">
                        <label for="contactEmail" class="form-label">E-mail <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="contactEmail" name="Email" placeholder="nazwa@example.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="contactMessage" class="form-label">Wiadomość</label>
                        <textarea class="form-control" id="contactMessage" name="Message" rows="4" placeholder="Twoja wiadomość..."></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary">Wyślij wiadomość</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
